<div class="todos-main-wrapper">
  <h2>Todos</h2>
  <div
    style="
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      width: 100%;
    "
  >
    <form
      class="example-form"
      [formGroup]="todosForm"
      (ngSubmit)="submitTodo()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>New Todo</mat-label>
        <input
          style="color: rgba(0, 0, 0, 0.5)"
          type="text"
          matInput
          placeholder="Enter new todo"
          formControlName="title"
        />
        <div *ngIf="title.invalid && (title.dirty || title.touched)">
          <mat-error *ngIf="title.errors.required">
            A todo title is required
          </mat-error>
        </div>
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Complete By</mat-label>
              <input
                style="color: rgba(0, 0, 0, 0.5)"
                type="date"
                matInput
                formControlName="date"
              />
            </mat-form-field>
            <div *ngIf="date.invalid && (date.dirty || date.touched)">
              <mat-error *ngIf="date.errors.required">
                A complete by date is required
              </mat-error>
            </div>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Complete By Time</mat-label>
              <input
                style="color: rgba(0, 0, 0, 0.5)"
                type="time"
                matInput
                formControlName="time"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <button
        style="margin: 2%; width: 40%; height: 60px; font-size: 1.5vw"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!todosForm.valid"
      >
        Add Todo
      </button>
    </form>
    <div style="display: flex; justify-content: space-evenly; width: 50%">
      <app-detail-tile
        [title]="todosTitle"
        [value]="todos.length"
        [colour]="tileColours[0]"
      ></app-detail-tile>

      <app-detail-tile
        [title]="completeTitle"
        [value]="showTodosComplete()"
        [colour]="tileColours[1]"
      ></app-detail-tile>

      <app-detail-tile
        [title]="pausedTitle"
        [value]="showTodosPaused()"
        [colour]="tileColours[2]"
      ></app-detail-tile>
    </div>
    <div class="app-progress-meter-container">
      <div class="app-progress-meter" [ngStyle]="setStyles()">
        <ng-container *ngIf="handleCalcProgress() !== '0'">
          {{ handleCalcProgress() }}% Complete
        </ng-container>
      </div>
      <ng-container *ngIf="handleShowFinishReward()">
        <img
          style="width: 100px; height: 100px"
          src="https://media.giphy.com/media/dalJ0CpF7hwmN1nZXe/giphy.gif"
        />
      </ng-container>
    </div>
  </div>

  <div>
    <div style="margin-top: 3%" class="example-action-buttons">
      <button
        style="color: rgba(0, 0, 0, 0.5)"
        mat-button
        (click)="accordion.openAll()"
      >
        Expand All
      </button>
      <button
        style="color: rgba(0, 0, 0, 0.5)"
        mat-button
        (click)="accordion.closeAll()"
      >
        Collapse All
      </button>
    </div>

    <ul class="todos-items-wrapper">
      <!--We need to refactor this its own component-->
      <li>
        <div
          style="
            display: flex;
            justify-content: center;
            padding: 1%;
            background-color: #767676;
            width: 80%;
            margin: 1% 0;
            border-radius: 10px;
          "
          *ngFor="let todo of todos; let i = index"
        >
          <div
            style="
              display: flex;
              justify-content: flex-start;
              flex-direction: column;
              width: 100%;
            "
          >
            <div
              style="width: 80%"
              (click)="handleComplete(i)"
              [ngClass]="{ 'todo-complete': todo.complete }"
            >
              <p><b>Title:</b> {{ todo.title }}</p>
              <br />
              <p><b>Complete by:</b> {{ todo.date }} - {{ todo.time }}</p>
            </div>

            <div>
              <mat-accordion multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> Description </mat-panel-title>
                    <mat-panel-description>
                      Show description
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{ todo.description }}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>

          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: center;
              width: 20%;
            "
          >
            <mat-icon
              style="color: tomato; height: 50%"
              (click)="handleDeleteTodo(i)"
              >delete</mat-icon
            >
            <mat-checkbox
              style="font-size: 16px"
              color="warn"
              class=""
              [checked]="todo.paused"
              (change)="handleTogglePaused(i)"
              >Paused</mat-checkbox
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
