<mat-toolbar class="app-header">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Developer Dashboard
</mat-toolbar>

<mat-sidenav-container class="main-app-wrapper">
  <mat-sidenav #sidenav class="mat-elevation-z8" mode="side" opened>
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">Joe Luna</h4>
    <p class="designation">Full Stack Developer</p>

    <mat-divider></mat-divider>

    <a routerLink="dashboard">
      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </a>
    <a routerLink="profile">
      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
    </a>
    <a routerLink="login">
      <button mat-button class="menu-button">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
    </a>
    <a routerLink="todos">
      <button mat-button class="menu-button">
        <mat-icon>format_list_bulleted</mat-icon>
        <span>Todos</span>
      </button>
    </a>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
      <!--Display Page-->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
